/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
}
body {
    margin: 0 auto;
    padding: 0;
}
header {
    background-color: #ebc426;
    color: #a03cab;
    width: 100%;
    padding: 2rem;
}
.video {
    width: 560px;
    height: 315px;
    margin: 10px 0 10px 0;
}
.container {
    margin: 2rem 2rem;
}